<!DOCTYPE html>
<html>

<head>
    <title>miviaje</title>
    <meta name="description" content="Somos un gimnasio A1 dedicados a cuidar y mantener tu cuerpo en forma." />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="assets/images/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<mv-menu-component></mv-menu-component>
<body>
    <section id="sobre-peniscola" class="container my-5">
        <div class="row">
            <div class="col-md-6">
                <h2 style="color: #0a62ef;" [routerLink]="['/miviaje/comentarios/Peñiscola']" class="link-detalles">Sobre Peñíscola</h2>
                <p><i>Peñíscola</i> es una ciudad y municipio español situado en la costa mediterránea, en la provincia de
                    <i>Castellón</i>. Es conocida por su impresionante castillo, construido por los Caballeros Templarios en el
                    siglo XIII y más tarde utilizado como residencia por el Papa Benedicto XIII en el siglo XV.</p>
                <p>La ciudad también cuenta con una hermosa playa de arena dorada, numerosos restaurantes y bares, y una
                    gran variedad de actividades al aire libre, como senderismo, ciclismo y deportes acuáticos.</p>
            </div>
            <div class="col-md-6">
                <img src="assets/CastillodePeniscola.jpg" class="img-fluid" alt="Playa de Peñíscola" style="margin-top: 70px;" >
            </div>
        </div>
    </section>
    <div class="container">
        <h2 class="text-center mb-4">Gastronomía de Peñíscola</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="assets/paella-de-marisco.jpg" class="card-img-top" alt="Plato típico de Peñíscola" >
                    <div class="card-body">
                        <h5 class="card-title text-center link-detalles" [routerLink]="['/miviaje/comentarios/PaellaPeñiscola']">Paella de mariscos</h5>
                        <p class="card-text">Este plato típico de la región de Valencia es muy popular en Peñíscola. Se
                            elabora con arroz, mariscos y verduras, y se cocina en una paellera de hierro sobre fuego de
                            leña.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="assets/boniato.jpg" class="card-img-top" alt="Postre típico de Peñíscola" style="height: 290px;" >
                    <div class="card-body">
                        <h5 class="card-title text-center link-detalles" [routerLink]="['/miviaje/comentarios/Boniato']">Pastissets de boniato</h5>
                        <p class="card-text">Este postre típico de la Comunidad Valenciana se elabora con una masa dulce
                            rellena de boniato confitado. Es un bocado delicioso y muy popular en Peñíscola.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="assets/Licoresdehierbas.jpg" class="card-img-top" alt="Bebida típica de Peñíscola" style="height:290px " >
                    <div class="card-body">
                        <h5 class="card-title text-center link-detalles" [routerLink]="['/miviaje/comentarios/LicoresHierbas']">Licor de hierbas</h5>
                        <p class="card-text">Este licor se elabora a partir de una infusión de hierbas y se sirve como
                            digestivo después de las comidas. Es una bebida muy popular en Peñíscola y en toda la región
                            de Valencia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section id="que-hacer" class="bg-light">
        <div class="container">
            <h2 class="text-center mb-5" style="font-size: 2.0rem;">¿Qué hacer en Peñíscola?</h2>
            <div class="row mb-5">
                <div class="col-md-6 mb-4 mb-md-0">
                    <img src="assets/estrella-no-4.jpg" class="img-fluid" alt="Actividades acuáticas en Peñíscola" >
                </div>
                <div class="col-md-6">
                  <h3 style="color: #0a62ef; margin-top: 30px;" [routerLink]="['/miviaje/comentarios/ActividadesAcuaticas']" class="link-detalles">Actividades acuáticas</h3>
                  <p>Peñíscola es un destino perfecto para los amantes del mar y los deportes acuáticos. Puedes disfrutar de actividades como:</p>
                  <ul style="list-style-type: none; padding-left: 0;">
                      <li style="margin-bottom: 10px;">Windsurf</li>
                      <li style="margin-bottom: 10px;">Kayak</li>
                      <li style="margin-bottom: 10px;">Paddle surf</li>
                      <li style="margin-bottom: 10px;">Buceo</li>
                  </ul>
              </div>

            </div>
            <div class="row mb-5">
                <div class="col-md-6 order-2 order-md-1" style="margin-top: 100px;">
                    <h3 style="color: #0a62ef;" [routerLink]="['/miviaje/comentarios/CastilloPeñiscola']" class="link-detalles">Visita al castillo</h3>
                    <p>El castillo de Peñíscola es uno de los principales atractivos turísticos de la ciudad. Desde
                        allí, podrás disfrutar de unas vistas impresionantes del mar y de la ciudad. Además, en su
                        interior podrás encontrar diferentes exposiciones y actividades culturales.</p>
                </div>
                <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
                    <img src="assets/Castell_de_Peníscola_2.jpg" class="img-fluid" alt="Vistas del castillo de Peñíscola" >
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6 mb-4 mb-md-0">
                    <img src="assets/canon-rio-lobos-atardecer-2043407.jpg" class="img-fluid"
                        alt="Senderismo en Peñíscola">
                </div>
                <div class="col-md-6" style="margin-top: 30px;">
                    <h3 [routerLink]="['/miviaje/comentarios/SenderismoPeñiscola']" class="link-detalles">Senderismo</h3>
                    <p>Si te gusta la naturaleza, en Peñíscola podrás disfrutar de diferentes rutas de senderismo que te
                        llevarán a través de los paisajes más impresionantes de la zona. Algunas de las rutas más
                        populares son:</p>
                    <ul style="list-style-type: none;">
                        <li>El parque natural de la Sierra de Irta</li>
                        <li>La ruta de la Font Nova</li>
                        <li>La ruta del Camino del Cid</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
    </script>
</body>

</html>
