.link-detalles:hover{
  text-decoration: underline;
  cursor: pointer;
  }
body {
  padding-top: 40px;
}
h2{
  color: #0a62ef;
}
.card-title{
  color: #0a62ef;
  font-size: 1.5rem;
  align-items: center;

}

.card-text{
  font-size: 1.3rem;
}
h1 {
  font-size: 5rem;
  margin-bottom: 2rem;

}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;

}

.btn-primary {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin-top: 2rem;
}
.card {
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-0.5rem);
}

section#que-hacer h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #0a62ef;
  text-transform: uppercase;
}

section#que-hacer h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #0a62ef;
}

section#que-hacer p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}
img {
  border: 2px solid gray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
