<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Itinerarios de Viaje</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="margin-si" >
  <header>
    <mv-menu-component></mv-menu-component>
  </header>

  <main>
    <section class="itinerarios">
      <div class="container">
        <h2>Mis Itinerarios</h2>

        <div class="itinerario" *ngFor="let it of itinerarios; let i = index">
          <h3 class="titulo">Viaje a {{it.destino}}</h3>
          <p class="fecha">Fecha: {{it.desde}}</p>
          <button> Ver Detalles</button>
        </div>
      </div>
    </section>
  </main>
  <footer>
  </footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
<app-footer></app-footer>
</html>
