{% extends "admin_base.njk" %}
{% block titulo %}Juego | Nuevo{% endblock %}
{% block contenido %}

    <h1>Añadir ediciones al juego</h1>
    <form action="/juegos/ediciones/{{ juego.id }}" method="post">
        <div class="form-group mb-3">
            <label for="nombre">Edicion:</label>
            <input type="text" class="form-control" name="edicion" placeholder="edicion del juego..." value="{{ juego.nombre }}"/>
        </div>
        <div class="form-group mb-3">
            <label for="descripcion">Anyo:</label>
            <input type="text" class="form-control" name="anyo" placeholder="anyo del juego" value="{{ juego.descripcion }}"/>
        </div>

        <div class="form-group mb-3">
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
{% endblock %}