{% extends "admin_base.njk" %}
{% block titulo %}Juegos | Listado{% endblock %}
{% block contenido %}
    <div class="container">
        <h1>Lista de juegos</h1>

        {% for edicion in juego.ediciones %}
            <div class="row m-1">
                <div class="col-6">{{ edicion.edicion }}</div>
                <div class="col-6">{{ edicion.anyo }}</div>
                <div class="col-auto">
                    <form action="/juegos/borrarediciones/{{ juego.id }}/{{ juego.ediciones.id }}" method="post">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger">Borrar</button>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-12">No hay ediciones que mostrar.</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}