<!DOCTYPE html>
<html>

<head>
  <title>Miviaje</title>
  <meta name="description" content="Somos un gimnasio A1 dedicados a cuidar y mantener tu cuerpo en forma." />
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="assets/images/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Descubre lo mejor de Alcossebre</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>


<mv-menu-component></mv-menu-component>


<body class="margin-si">
  <header>
    <section class="container my-5">
      <div class="row">
        <div class="col-md-6">
          <h2
            style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 2rem; " class="link-detalles" [routerLink]="['/miviaje/comentarios/AyuntamientoCastellon']">
            Bienvenidos a Castellón de la Plana</h2>
          <p style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem; line-height: 1.5; "><i>Castellón
            de la Plana</i> es una hermosa ciudad en la costa mediterránea de España, conocida por sus
            playas de arena fina, su clima mediterráneo y su rica historia y cultura.</p>
          <p
            style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem; line-height: 1.5; ">
            Con una población de más de 170,000 habitantes, <i>Castellón</i> es una ciudad vibrante y
            cosmopolita que ofrece una amplia variedad de actividades y atracciones para turistas de
            todas las edades. Desde visitar la famosa <i>Catedral de Santa María</i> hasta relajarse en las
            playas de la <i>Costa del Azahar</i>, hay algo para todos en <i>Castellón</i>.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/Ayuntamiento_B4A2783.jpg"  alt="Castellón de la Plana" class="img-fluid">
        </div>
      </div>
    </section>

    <section class="container my-5">
      <h2 style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 2rem; text-align: center;">
        Gastronomía de Castellón</h2>
      <div class="row mt-5">
        <div class="col-md-6">
          <img src="assets/Habas-con-arroz.jpg" alt="Arroz con habas y nabos" class="img-fluid mb-3 img-comida" >
          <h3 style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 1.5rem;" class="link-detalles" [routerLink]="['/miviaje/comentarios/ArrozHabas']">Arroz con
            habas y nabos</h3>
          <p style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem; line-height: 1.5;">Este es
            uno de los platos más populares de <i>Castellón</i> y se elabora con arroz, habas, nabos, costilla
            de cerdo y morcilla. Es una delicia para el paladar y una muestra de la rica tradición
            culinaria de la región.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/coca-de-tomate.jpg" alt="Arroz con habas y nabos" class="img-fluid mb-3 img-comida"
            style="height: 295px;">
          <h3 style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 1.5rem;" class="link-detalles" [routerLink]="['/miviaje/comentarios/CocaVerduras']">Coca de
            verduras</h3>
          <p style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem; line-height: 1.5;">La coca es
            un pan plano típico de la región y se puede elaborar con diferentes ingredientes. La coca de
            verduras es una opción saludable y deliciosa, elaborada con pimientos, cebolla, berenjena y
            tomate. Es perfecta como aperitivo o para una comida ligera.</p>
        </div>
      </div>
      <div class="row my-4">

        <div class="col-md-6">

          <h3 style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 1.6rem; margin-bottom: 20px;" class="link-detalles" [routerLink]="['/miviaje/comentarios/PaellaMariscos']">
            Paella de mariscos</h3>
          <p style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem; margin-bottom: 20px;">Uno de
            los platos más emblemáticos de la gastronomía valenciana también se puede disfrutar en
           <i>Castellón</i> . La paella de mariscos es una deliciosa combinación de arroz, calamares,
            mejillones, gambas, langostinos y almejas. Su preparación es una laboriosa tarea que
            requiere paciencia y pericia, pero el resultado final es un plato que enamora a todos los
            comensales.</p>
        </div>
        <div class="col-md-6">
          <img src="assets/paella-marisco-brisamar-grao-castellon.jpg" alt="Paella de mariscos"
            style="width: 90%; height: 90%;" class="img-comida">
        </div>
      </div>

    </section>
  </header>
  <section class="container my-5">
    <h2 style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 32px; margin-bottom: 30px;" >
      Planes en Castellón</h2>
    <div class="row">
      <div class="col-md-6">
        <img src="assets/15119477946666.jpg" alt="Castellón de noche" style="width: 100%; height: auto;" >
      </div>
      <div class="col-md-6" style="margin-top: 25px;">
        <h3 style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 24px; margin-bottom: 20px;" [routerLink]="['/miviaje/comentarios/AyuntamientoCastellon']" class="link-detalles">
          Descubre la ciudad de noche</h3>
        <p style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem; margin-bottom: 20px;">La ciudad de
        <i>  Castellón</i> tiene un encanto especial por la noche. Un buen plan es dar un paseo por el centro
          histórico, ver sus monumentos iluminados y descubrir sus rincones más pintorescos. Además, hay
          una gran cantidad de bares y pubs en los que disfrutar de una copa en un ambiente agradable.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 order-md-2">
        <img src="assets/castellon-parque-natural-sierra-de-espadan.jpg" alt="Parque Natural de la Sierra de Espadán"
          style="width: 100%; height: auto;">
      </div>
      <div class="col-md-6 order-md-1 " style="margin-top: 65px;" >
        <h3 style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 24px; margin-bottom: 20px;" class="link-detalles" [routerLink]="['/miviaje/comentarios/SierraEspadan']">
          Haz una ruta de senderismo por la Sierra de Espadán</h3>
        <p style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem; margin-bottom: 20px;">El Parque
          Natural de la Sierra de Espadán es uno de los pulmones verdes de <i>Castellón</i>. Aquí podrás
          disfrutar de rutas de senderismo que te llevarán por impresionantes paisajes de montaña. Además,
          en la zona hay varios pueblos con encanto que merece la pena visitar, como Aín o Eslida.</p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-6">
        <img  src="assets/visita-guiada-museo-bellas-artes-r32.avif" alt="Museo de Bellas Artes de Castellón"
          style="width: 100%; height: auto;" >
      </div>
      <div class="col-md-6">
        <h3 style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 24px; margin-bottom: 20px; margin-top: 50px;" class="link-detalles" [routerLink]="['/miviaje/comentarios/MuseoBellasArtesCastellon']">
          Visita el Museo de Bellas Artes de Castellón</h3>
        <p  style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem; margin-bottom: 20px;">El <i>Museo de
          Bellas Artes de Castellón</i> es uno de los más importantes de la <i>Comunidad Valenciana</i>. Cuenta con
          una amplia colección de obras de arte que abarcan desde el siglo XV hasta la actualidad. Además,
          el edificio que alberga el museo es una antigua casa señorial que ha sido restaurada y
          acondicionada para su uso como museo.</p>
      </div>
    </div>



    <div class="row mt-5">
      <div class="col-md-6 order-md-2">
        <img src="assets/teatro-principal.jpg" alt="Plaza Mayor de Castellón" style="width: 100%; height: auto;" >
      </div>
      <div class="col-md-6 order-md-1">
        <h3 style="font-family: 'Poppins', sans-serif; font-weight: bold; font-size: 24px; margin-bottom: 20px; margin-top: 40px;" [routerLink]="['/miviaje/comentarios/TeatroPlazaMayor']" class="link-detalles">Teatro
          de la Plaza Mayor de Castellón</h3>
        <p style="font-family: 'Open Sans', sans-serif; font-size: 1.2rem; margin-bottom: 20px;">La <i>Plaza Mayor de
          Castellón</i> es uno de los lugares más emblemáticos de la ciudad. Aquí podrás disfrutar de una agradable caminata
          y admirar la arquitectura de los edificios que la rodean, como la <i>Concatedral de Santa María</i>, el edificio del
          Ayuntamiento o el Teatro Principal. Además, en la Plaza Mayor se celebran diferentes eventos a lo largo del
          año, como mercados, ferias o conciertos al aire libre.</p>
      </div>
    </div>


  </section>
<app-footer></app-footer>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous">
  </script>
</body>

</html>
