@import "../../../scss/screen.scss";
.custom-thumbnail.img-thumbnail {
  border-width: 1px !important; /* Ajusta el ancho del borde según tus necesidades */
}

.section-uno {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;

  .article-izquierda {
      font-size: 25px;
      width: 72%;
      display: inline-block;
      margin-top: 80px;

      header {

        h1{
           margin-bottom: 30px;
        }
          p {
            text-align: justify;

            margin-right: 20px;
              margin-left: 30px;
          }
      }
  }

  .article-derecha {
      display: flex;
      width: auto;
      border: 1px solid #000;
      margin-left: 10px;
      overflow: hidden;

      img {
          @include transiciones(transform, 0.4s);
      }

      img:hover {
          transform: scale(1.2);
      }
  }

}

.section-dos {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;

  .article-izquierda {

      margin-left: 20px;
      border: 1px solid #000;
       width: 100%;
        overflow: hidden;
      img {
          @include transiciones(transform, 0.4s);
          height: 450px;
      }

      img:hover {
          transform: scale(1.2);

      }
  }

  .article-derecha {
      font-size: 25px;
      display: inline-block;
      width: 120%;
      margin-right: 40px;
      margin-left: 20px;
      header p:first-of-type {
        margin-top: 50px;
      }
      h1{
        margin-top: 15px;
      }
      header{
        text-align: justify;
      }
  }
}
img {
  border: 2px solid gray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
